html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --best-color: #2196F3;
    --head-color: #212121;
    --t-color: #757575;
    --dark-color: #2F303A;
    --outline: 2px solid tomato;
}

body {
    font-family: 'Roboto';
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

.blue {
    color: var(--best-color);
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

button:hover,
button:focus {
    color: white;
    background-color: var(--best-color);
    border-radius: 4px;
}

.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    background-color: white;
}

.header .container{
    display: flex;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    margin-right: 93px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-nav .item {
    color: var(--head-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav-list{
    display: flex;
}

.header-nav-list li{
    margin-right: 50px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.header-list{
    display: flex;
}

.header-list  li{
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 50px;
}

.header-list li:first-child{
    margin-left: 294px;
}

.header-list li:last-child{
    margin-right: 0;
}

.header-list .mail,
.header .tel {
    color: var(--t-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-logo:hover,
.header-logo:focus,
.tel:hover,
.tel:focus,
.item:hover,
.item:focus,
.item.current {
    color: var(--best-color);
}

.header-nav a:active{
    color: var(--best-color);
}


.footer .container{
    background-color: var(--dark-color);
    display: inline-block;
}

.footer a{
    padding-top: 60px;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--best-color);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-item:hover,
.address-item:focus {
    color: #FFFFFF;
}

.hero {
    background-color: var(--dark-color);
}

.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 237px;
    margin-top: 106px;
    margin-bottom: 30px;
    margin-right: 237px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    border-radius: 4px;
    background-color: var(--best-color);
    margin-left: 477px;
    margin-right: 477px;
    margin-bottom: 106px;
    width: 216px;
    height: 50px;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}


.texter-list .head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--head-color);
    margin-bottom: 10px;
}

.texter-list .par {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--t-color);
}

.texter-list{
    display: flex;
}

.texter-list li{
    margin-right: 30px;
}

.texter-list li:last-child{
    margin-right: 0;
}

.we-do-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-color);
    margin-bottom: 50px;
}

.we-do-list{
    display: flex;
}

.we-do-list li{
    margin-right: 30px;
}
.we-do-list li:last-child{
    margin-right: 0;
}

.team {
    background-color: #F5F4FA;
}

.team-head{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-list .img {
    border-radius: 0px;
}

.team-list.head {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-color);
}

.team-list.par {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--t-color);
    margin-bottom: 30px;
}
.team-list{
    display: flex;
}

.team {
    text-align: center;
}

.team-list li{
    margin-right: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list li:last-child{
    margin-right: 0px;
}

.main-options-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-color);
    background-color: #F5F4FA;
    border-radius: 4px;
}

.pics-list.head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--head-color);
}

.pics-list.par {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--t-color);
}

.team img{
    margin-bottom: 30px;
}

.team h3{
    margin-bottom: 10px;
}